.pop-up-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000090;
}

.pop-up {
    width: 50%;
    padding: 15px;
    background: #ffffff;
    box-sizing: border-box;
}

.accept-button {
    background-color: #00000080;
    padding: 15px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    cursor: pointer;
}
